services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  user_service:
    build:
      context: ./UserService
      dockerfile: Dockerfile
    container_name: exercise_two_user_service
    env_file:
      - .env
    ports:
      - "5002:5002"
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  book_service:
    build:
      context: ./BookService
      dockerfile: Dockerfile
    container_name: exercise_two_book_service
    ports:
      - "5006:5006"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started
  
  borrow_service:
    build:
      context: ./BorrowService
      dockerfile: Dockerfile
    ports:
      - "5003:5003"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  rabbitmq:
    image: rabbitmq:3-management
    container_name: exercise_two_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db_data:
